<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="./static/style.css">
        <title>Webカメラサーバ</title>
    </head>

    <body>
        <video id="video" autoplay></video>

        <div class="center"><canvas id="canvas"></canvas></div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="./static/script.js"></script>
    </body>
</html>
